{% block js_files %}
    <script src="js/leaderboardFilters.js"></script>
{% endblock %}

<div class="mb-2 leaderboard-header-container">
    <div id="leaderboard-description-text">
        <!-- Dynamic text will be inserted here -->
    </div>
    <div class="filter-controls-group border-top pt-2">
        <div class="filter-title">Filters:</div>
        <div class="filter-buttons">
            <!-- Main Filters Dropdown -->
            <!--
            <div class="multiselect-container" id="main-filters">
                <button class="btn btn-sm btn-outline-secondary filter-toggle multiselect-toggle" type="button" title="Filter by system properties">
                    <span class="multiselect-summary">Open Scaffold</span>
                    <span class="multiselect-icon">▼</span>
                </button>
                <form class="multiselect-form">
                    <div class="multiselect-dropdown">
                        <div class="multiselect-options">
                        </div>
                    </div>
                </form>
            </div> -->

            <!-- Tags Dropdown -->
            <div class="multiselect-container" id="tag-filters">
                <button class="btn btn-sm btn-outline-secondary filter-toggle multiselect-toggle" type="button" title="Filter by tags">
                    <span class="multiselect-summary">All Tags</span>
                    <span class="multiselect-icon">▼</span>
                </button>
                <form class="multiselect-form">
                    <div class="multiselect-dropdown">
                        <div class="multiselect-options" id="tag-options-container">
                            <!-- Tag options will be dynamically populated here -->
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Search -->
        <div class="leaderboard-search">
            <input type="input" id="leaderboard-search-input" placeholder="Search..." />
        </div>
    </div>
</div>

<!-- Container for dynamically loaded table content -->
<div id="leaderboard-container">
    <!-- Initial table will be loaded here -->
</div>

<script type="application/json" id="leaderboard-data">
    {{ leaderboards | tojson }}
</script>

<script type="application/json" id="leaderboard-tags-data">
    {{ leaderboard_tags | tojson }}
</script>

<div class="leaderboard-notes">
</div>