<div class="sidebar-overlay"></div>
<header class="mobile-header">
    <a href="/" class="mobile-logo"><img src="img/si2logo.png" alt="LBC-bench logo" class="sidebar-logo-icon">LBC-bench</a>
    <button class="sidebar-opener" aria-label="Open menu">
        <i class="fas fa-bars"></i>
    </button>
</header>

<aside class="sidebar">
    <div class="sidebar-header">
         <a href="/" class="sidebar-logo"><img src="img/si2logo.png" alt="LBC-bench logo" class="sidebar-logo-icon">LBC-bench</a>
         <button class="mobile-nav-toggle" aria-label="Close menu">
             <i class="fas fa-times"></i>
         </button>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="index.html" class="nav-link" data-page="index">Leaderboards</a></li>
            <li class="nav-section-title">Benchmarks</li>
            <li><a href="code_generation.html" class="nav-link" data-page="original">Code Generation</a></li>
            <li><a href="code_comprehension.html" class="nav-link" data-page="lite">Code Comprehension</a></li>
            <li><a href="context_heavy.html" class="nav-link" data-page="docs">Context Heavy</a></li>

            <li class="nav-section-title">About</li>
            <li><a href="https://arxiv.org/pdf/2506.14074" class="nav-link" data-page="paper">Paper <i class="fas fa-external-link-alt"></i></a></li>
            <li><a href="https://github.com/NVlabs/cvdp_benchmark" class="nav-link">CVDP Benchmarks GitHub</a></li>
            <li><a href="https://huggingface.co/datasets/nvidia/cvdp-benchmark-dataset" class="nav-link">CVDP Benchmarks Hugging Face</a></li>
            <li><a href="https://www.businesswire.com/news/home/20250806010450/en/Si2-Announces-Creation-of-the-Si2-LLM-Benchmarking-Coalition?utm_campaign=shareaholic&utm_medium=linkedin&utm_source=socialnetwork" class="nav-link">Press</a></li>
        </ul>
    </nav>
    <div class="sidebar-footer">
        <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i>
        </a>
        &nbsp;
        <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-youtube"></i>
        </a>
        &nbsp;
        <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
        </a>
        &nbsp;
        <a href="#" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-slack"></i>
        </a>
        <button id="theme-toggle" class="theme-toggle" aria-label="Toggle dark mode">
            <i class="fas fa-moon"></i>
        </button>
    </div>
</aside>
